@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading1 {
    font-family: 'PT Serif', serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    letter-spacing: -0.045em;
    color: #000000;
    margin-bottom: 20px;
}

.heading2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 20px;
}

.heading-info {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 20px;
}

.main--content {
    display: flex;    
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

footer {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #A9A9A9;
    display: flex;
    justify-content: center;    
}

header {
    display: flex;
    grid-template-rows: auto;
    justify-content: space-around;  
    flex-wrap: wrap;
}